<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>
      <%= render 'books/index',books: @books %>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>今日の投稿数</th>
            <th>昨日の投稿数</th>
            <th>前日比</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @user.post_book_cnt('today') %></td>
            <td><%= @user.post_book_cnt('yesterday') %></td>
            <td>
              <%= (@user.post_book_cnt('today') / (@user.post_book_cnt('yesterday').zero? ? 1 :@user.post_book_cnt('yesterday'))) * 100 %>%
            </td>
          </tr>
        </tbody>
      </table>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>今週の投稿数</th>
            <th>先週の投稿数</th>
            <th>前週比</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @user.post_book_cnt('this_week') %></td>
            <td><%= @user.post_book_cnt('last_week') %></td>
            <td>
              <%= (@user.post_book_cnt('this_week') / (@user.post_book_cnt('last_week').zero? ? 1 :@user.post_book_cnt('last_week'))) * 100 %>%
            </td>
          </tr>
        </tbody>
      </table>

      <%= form_with url: book_count_path, local: false do |form| %>
      <%= form.date_field 'date' %>
      <%= form.hidden_field :user_id, value: @user.id %>
      <%= form.submit '検索', class:'btn btn-primary' %>
      <% end %>
      <table class='table count_res_table table-hover table-inverse'>
        <thead>
          <tr>
            <th>投稿数</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p id="count_res"></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>