<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2><%= @user.name %>さんとのチャットルーム</h2>
      <div class="error_message"></div>
      <%= form_with model:@chat, local: false do |f| %>
      <%= f.text_field :message %>
      <%= f.hidden_field :room_id %>
      <% end %>
    </div>
    <div class="col-md-8">
      <table class="table chat-table" style="table-layout:fixed;">
        <thead>
          <tr>
            <th style="width:50%;">
              <p class="text-left"><%= current_user.name %></p>
            </th>
            <th style="width:50%;">
              <p class="text-right"><%= @user.name %></p>
            </th>
          </tr>
        </thead>
        <% @chats.each do |chat| %>
        <% if chat.user_id == current_user.id %>
        <tr>
          <td>
            <p class='text-left'><%= chat.message %></p>
          </td>
          <td>
          </td>
        </tr>
        <% else %>
        <tr>
          <td>
          </td>
          <td>
            <p class='text-right'><%= chat.message %></p>
          </td>
        </tr>
        <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>